{% extends "base.html.twig" %}
{% block body %}

    <div class="container mt-4">
        {% if error %}
            <div class="alert alert-danger">
                {{ error.messageKey|trans(error.messageData, 'security') }}
            </div>
        {% endif %}
        <form method="post">
            <div class="form-group">
                <label for="username">Login</label>
                <input type="text" name="email" id="username" class="form-control" value="{{ last_username }}">
            </div>
            <div class="form-group">
                <label for="password">Mot de passe</label>
                <input type="password" name="password" id="password" class="form-control">
            </div>
            <input type="hidden" name="_csrf_token"
                   value="{{ csrf_token('authenticate') }}"
            >
            <button type="submit" class="btn btn-primary">Connection</button>
        </form>
    </div>

{% endblock %}
