{% extends 'base.html.twig' %}

{% block title %}Hello UserController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

{% if app.user %}
    <div class="mb-3">
        You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
    </div>
{% endif %}

<div class="example-wrapper">
    {{ form(form) }}
    {{ validationMessage.message }}
</div>
{%  if businessUsers is defined %}
    <div class="container">
        <div class="row">
            <div class="col-sm-8 ml-auto mr-auto">
                <ul class="list-group">
                    {% for user in businessUsers %}
                        {% if app.user.id != user.id %}
                            <li class="list-group-item">{{  user.email }}
                                <button type="button" class="btn btn-outline-danger">Supprimer</button>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" {% if 'ROLE_ADMIN'  in user.roles %} checked {% endif %} }>
                                    <label class="form-check-label" for="defaultCheck1">
                                        Droit d'accès
                                    </label>
                                </div>
                            </li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
{% endif %}
{% endblock %}
