{# templates/homepage/index.html.twig #}
{% extends "base.html.twig" %}
{% block body %}
<div class="container-fluid fixed-top bg-dark py-3">
  <ul class="nav justify-content-center">
    <li class="nav-item">
      <a class="nav-link active" href="#">Active</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">header_link</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">header_link</a>
    </li>
  </ul>
</div>
<div class="vh-100 bg-light">
  big_picture
  <img src="https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.la-croix.com%2FSport%2Fsurf-inquietude-sommet-vague-2018-12-30-1200992381&psig=AOvVaw22wayLhZNNaYwCuQPx4pNP&ust=1607637050819000&source=images&cd=vfe&ved=0CAIQjRxqFwoTCNj8xIrxwe0CFQAAAAAdAAAAABAD" />
</div>
<div class="container">
  <div class="jumbotron">
    <h1 class="display-4">{{ businessName }}</h1>
    <p class="lead">Business_description is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
    <hr class="my-4">
    <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
    <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-6">
      <h2>block_title. <span class="text-muted">It’ll blow your mind.</span></h2>
      <p class="lead">block_text nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
    </div>
    <div class="col-md-6">
      <h2>block_title. <span class="text-muted">It’ll blow your mind.</span></h2>
      <p class="lead">block_text ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
    </div>
  </div>
</div>
<div class="container">
map
</div>
<div class="container">
  <div class="row">
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">card_title</h5>
          <p class="card-text">card_text below as a natural lead-in to additional content.</p>
          <a href="#" class="btn btn-primary">text_link</a>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Special title treatment</h5>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div id="carouselExampleInterval" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active" data-interval="10000">
        <img src="https://pitchcardiff.com/wp-content/uploads/2018/10/Wales-6-Nations-squad-announcement-uai-720x480.jpg" class="d-block w-100" alt="photo1">
      </div>
      <div class="carousel-item" data-interval="2000">
        <img src="https://pitchcardiff.com/wp-content/uploads/2018/10/Wales-6-Nations-squad-announcement-uai-720x480.jpg"  class="d-block w-100" alt="photo2">
      </div>
      <div class="carousel-item">
        <img src="https://pitchcardiff.com/wp-content/uploads/2018/10/Wales-6-Nations-squad-announcement-uai-720x480.jpg"  class="d-block w-100" alt="photo3">
      </div>
    </div>
  </div>
</div>
<div class="container">
  <h2>block_bottom_title. <span class="text-muted">It’ll blow your mind.</span></h2>
  <p class="lead">block_bottom_text ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
</div>
<footer class="footer mt-auto py-3">
  <div class="container">
    <span class="text-muted">Place sticky footer content here.</span>
  </div>
</footer>
{% endblock %}