{% extends 'base.html.twig' %}

{% block body %}
    {% set user = app.session.get('user') %}
    <h1>Désolé c'est une soirée privée</h1>

    <p>
        Et vous n'êtes pas sur la liste !


        {{ user.email }}


{#        <a href="{{ path('homepage') }}">return to the homepage</a>.#}
    </p>
{% endblock %}